html, body {
  font-family: 'Droid Sans', Arial, sans-serif;
}

body {
  background: url('../images/grey.png') repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

p, blockquote {
  font-size: 20px;
}

.main {
  padding-top: 35px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.17);
}

.mark-oleson {
  text-align: center;
}
.mark, .oleson {
  margin: 0;
  line-height: 0.9;
  letter-spacing: -4px;
}
.mark {
  font-size: 120px;
}
.oleson {
  font-size: 90px;
  padding-left: 10px;
}

.bio {
}

.works {
  padding-top: 55px;
}

.works-title h2 {
  text-align: center;
}