body {
  background: url('images/grey.png') repeat;
}

.main {
  padding-top: 35px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.17);
}

.mark-oleson {
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  font-size: 100px;
  letter-spacing: -4px;
  line-height: 0.8;
}
.mark {
  font-size: 120px;
}
.oleson {
  font-size: 90px;
}

.bio {
  margin-top: 25px;
}

.works {
  padding-top: 55px;
}

.works-title h2 {
  text-align: center;
}